{% extends "base_ru.html" %}
{% load static %}

{% block title %}
	{% for company in company_info %}
		<img style="width: 32px" class="img-responsive img-fluid" src="{{company.company_logo.url}}" alt=""/>
		{{company.company_name}}
	{% endfor %}
{% endblock title %}

{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="display-4">
					{% for company in company_info %}
						<img style="width: 32px" class="img-responsive img-fluid" src="{{company.company_logo.url}}" alt=""/>
						{{company.company_name}}
					{% endfor %}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12 align-center">
				<p class="display-4 text-center text-info">
					{% for company in company_info %}
						{{company.company_slogan}}
					{% endfor %}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{% for image in about_image %}
					<img class="img-fluid img-thumbnail" src="{{image.about_main_image.url}}" alt="Responsive image"/>
				{% endfor %}
			</div>
		</div>

		<hr>

		{% for blog in about_blog %}
			<div class="row">
				<div class="col-md-6">
					<h1 class="text-center">{{blog.blog_title}}</h1>
					<p>{{blog.blog_text}}</p>
				</div>
				<div class="col-md-6">
					<img class="img-fluid img-thumbnail" src="{{blog.blog_img.url}}" alt="Responsive image"/>
				</div>
			</div>

			<hr>
		{% endfor %}
		


				<hr>

		<div class="row">
			
			<div class="col-12">
				<h1 class="text-center">СЕРТИФИКАТЫ</h1>
			</div>
			
			{% for diplom in about_diplom %}
				<div class="col-lg-3 col-md-6 p-12">
					<img class="img-fluid img-thumbnail" src="{{diplom.diplom_img.url}}" alt="Responsive image"/>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock content %}

{% block footer %}
        <div class="col-md-3">
          <h4>
          	{% for company in company_info %}
				{{company.company_name}}
			{% endfor %}
          </h4>
          <h5>
          	{% for company in company_info %}
				<img style="width: 128px" class="img-responsive img-fluid" src="{{company.company_logo.url}}" alt=""/>
			{% endfor %}
          </h5>
          <button type="button" class="btn btn-info" >
          		
	          		<a class="text-decoration-none text-white" href="/media/test.pdf">СКАЧАТЬ КАТАЛОГ</a>
	          	
          </button>
          <p><em></em></p>
        </div>

        <div class="col-md-5">
        	{% for store in store_address %}
	          <p><em>Адрес: {{store.address_line1}}</em></p>
	          <p>{{store.address_line2}}</p>
	          <p>Тел: {{store.phone1}}, {{store.phone2}}, {{store.phone3}}</p>
	          <p>{{store.e_mail}}</p>
          	{% endfor %}
        </div>
{% endblock footer %}